@import 'setup';

$mainColour: #EBA381;
$bodyBackground: #A6A3B0;

body{
	background: $bodyBackground;
	font-family: 'Inconsolata';
	padding-top: 50px;
	color: #fff;
}

.app,{
	width: 50%;
	margin: 0 auto;
}
h1{
	font-weight: 400;
}

.welcome {
	text-align:center;
}
.content{
	box-shadow: 2px 2px 15px #939393;
}
.username,
.username:hover{
	cursor:pointer;
}

a,
a:visited{
	color:#fff;
	text-decoration:none;
}

a:hover,
a:focus {
	color: #537C97;
}

form{
	background: $mainColour;
	display: flex;
	flex-direction: column;
	padding: 20px;
	input{
		text-align: center;
		background: darken($mainColour, 10%);
		border: none;
		padding: 20px;
		border-radius: 10px;
		color: #fff;
	}
	::-webkit-input-placeholder{
		color: #fff;
	}
	input:focus{
		outline: none;
		border: 2px solid #fff;
	}
}

ul{
	background: #fff;
	color: $bodyBackground;
	margin: 0;
	padding: 20px;
	font-size: 20px;
	li{
		list-style: none;
		// cursor: pointer;
		padding: 10px;
		i{
			margin-right: 5px;
		}
	}
}

.delete{
	color: red;
	margin-left:15px;
	padding:4px;
	cursor:pointer;
}
main{
	padding-bottom: 5%;
}

footer{
	width:40%;
	margin:0 auto;
	text-align:center;
	font-size:14px;
}

// Responsive styles
@media only screen and (min-width : 320px) and (max-width : 620px) {
	.app{
		width:90%;
	}
	footer{
		width:80%
	}
}
@media only screen and (min-width : 621px) and (max-width : 768px) {
	.app{
		width:60%;
	}
	footer{
		width:50%;
	}
}



